/* Navbar */

.navbar-brand{
    color:#ffffff !important;
}

.navbar .form-control{
    border-radius:8px;
}

.nav-link{
    font-weight:500;
}

.nav-link:hover{
    color:#ff6b00 !important;
}

.btn-warning{
    background:#ff6b00;
    border:none;
    color:#fff;
}

.btn-warning:hover{
    background:#e65c00;
}

.bi{
    font-size:20px;
}